<div class="home-page-container">
  <load src="partials/sidebar.html" />
  <div class="customer-container">
    <h1 class="hello-customer">Hello Evano 👋🏼,</h1>
    <div class="customer-table-container">
      <div class="text">
        <div class="text-container">
          <div class="left-stuff">
            <h2 class="all-customers">All Customers</h2>
            <p class="active-status">Active Members</p>
          </div>
          <div class="right-stuff">
            <div class="search-customer">
              <input type="text" class="customer-input" placeholder="Search">
            </div>
          </div>
        </div>
        
    <table class="customer-table">
      <thead class="customer-table-headers">
        <tr>
          <th>Customer Name</th>
          <th>Company</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Country</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Jane Cooper</td>
          <td class="company">Microsoft</td>
          <td class="phone-number">(225) 555-0118</td>
          <td class="email"><a href="mailto:jane@microsoft.com">jane@microsoft.com</a></td>
          <td class="country">United States</td>
          <td class="status"><span class="status-active">Active</span></td>
        </tr>
        <tr>
          <td class="name">Floyd Miles</td>
          <td class="company">Yahoo</td>
          <td class="phone-number">(205) 555-0100</td>
          <td class="email"><a href="mailto:floyd@yahoo.com">floyd@yahoo.com</a></td>
          <td class="country">Kiribati</td>
          <td class="status"><span class="status-inactive">Inactive</span></td>
        </tr>
        <tr>
          <td class="name">Ronald Richards</td>
        <td class="company">Adobe</td>
          <td class="phone-number">(302) 555-0107</td>
          <td class="email"><a href="mailto:ronald@adobe.com">ronald@adobe.com</a></td>
          <td class="country">Israel</td>
          <td class="status"><span class="status-inactive">Inactive</span></td>
        </tr>
        <tr>
          <td class="name">Marvin McKinney</td>
          <td class="company">Tesla</td>
          <td class="phone-number">(252) 555-0126</td>
          <td class="email"><a href="mailto:marvin@tesla.com">marvin@tesla.com</a></td>
          <td class="country">Iran</td>
          <td class="status"><span class="status-active">Active</span></td>
        </tr>
        <tr>
          <td class="name">Jerome Bell</td>
          <td class="company">Google</td>
          <td class="phone-number">(629) 555-0129</td>
          <td class="email"><a href="mailto:jerome@google.com">jerome@google.com</a></td>
          <td class="country">Réunion</td>
          <td class="status"><span class="status-active">Active</span></td>
        </tr>
        <tr>
          <td class="name">Kathryn Murphy</td>
          <td class="company">Microsoft</td>
          <td class="phone-number">(406) 555-0120</td>
          <td class="email"><a href="mailto:kathryn@microsoft.com">kathryn@microsoft.com</a></td>
          <td class="country">Curaçao</td>
          <td class="status"><span class="status-active">Active</span></td>
        </tr>
        <tr>
          <td class="name">Jacob Jones</td>
          <td class="company">Yahoo</td>
          <td class="phone-number">(208) 555-0112</td>
          <td class="email"><a href="mailto:jacob@yahoo.com">jacob@yahoo.com</a></td>
          <td class="country">Brazil</td>
          <td class="status"><span class="status-active">Active</span></td>
        </tr>
        <tr>
          <td class="name">Kristin Watson</td>
          <td class="company">Facebook</td>
          <td class="phone-number">(704) 555-0127</td>
          <td class="email"><a href="mailto:kristin@facebook.com">kristin@facebook.com</a></td>
          <td class="country">Åland Islands</td>
          <td class="status"><span class="status-inactive">Inactive</span></td>
        </tr>
      </tbody>
    </table>
    <div class="data-and-slider">
      <p class="showing-data">Showing data 1 to 8 of  256K entries</p>
    <div class="slider">
      <span class="number"><svg width="8" height="16" class="number-svg"><use href="./img/symbol-defs.svg#icon-1"></use></svg></span>
      <span class="number">1</span>
      <span class="number">2</span>
      <span class="number">3</span>
      <span class="number">4</span>
      <span class="number">...</span>
      <span class="number">40</span>
      <span class="number"><svg width="8" height="16" class="number-svg"><use href="./img/symbol-defs.svg#icon-untitled"></use></svg></span>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>

