<div class="sidebar">
  <div class="sidebar-categories">
    <ul class="sidebar-categories-list">
      <li class="sidebar-categories-header">
        <a href="" class="categories-logo">
          <svg width="37" height="37">
            <use href="./img/symbol-defs.svg#icon-setting-1"></use>
          </svg>
          Dashboard<span class="version">v.01</span></a
        >
      </li>
      <li class="sidebar-categories-item1">
        <a href="" class="sidebar-categories-link">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-key-square"></use>
          </svg>
          Dashboard</a
        >
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-d-square-1"></use>
          </svg>
          Product
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-chevron-right-2"></use></svg>
        </a>
      </li>
      <li class="sidebar-categories-item customer-block">
        <a href="" class="sidebar-categories-link">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-user-square-1"></use>
          </svg>
          Customer
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-chevron-right-2"></use></svg>
        </a>
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-wallet-money-2"></use>
          </svg>
          Income
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-chevron-right-2"></use></svg>
        </a>
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-discount-shape-1"></use>
          </svg>
          Promote
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-chevron-right-2"></use></svg>
        </a>
      </li>
      <li class="sidebar-categories-item">
        <a href="" class="sidebar-categories-link">
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-message-question-1"></use>
          </svg>
          Help
          <svg width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-chevron-right-2"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="user-block">
    <img src="./img/user-avatar.png" alt="" class="user-avatar" />
    <div class="user-info">
      <p class="user-name">Evano</p>
      <p class="user-role">Project Manager</p>
    </div>
  </div>
</div>
