/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./sidebar.css');
@import url('./home.css');

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #111111;
}
.container {
  /* width: 375px; */
  margin: 0 auto;
  padding: 0 20px;
}